.path {
  padding: 10px 15px;
  font-family: $font_utm;
  @include font-size-16-20();

  a {
    color: $color_footer;
  }
}

.course {
  font-family: $font_utm;
  padding-top: 35px;

  .tab-content {
    padding: 0 10px;
  }
}

.big-image {
  justify-content: center;
  display: flex;
  align-items: center;
  background: $blue_color;
  height: 439px;
  border-radius: 10px;

  img {
    width: 476px;
    height: 265px;
    max-width: 100%;
  }
}

.description {
  height: 439px;
}

.custom-course-row {
  .text-describe-course {
    padding: 10px 0;
    font-weight: 700;
    color: $color_footer;
    border-bottom: 1px solid $warning_color;
    @include font-size-25-30();
  }

  .content-describe-course {
    font-weight: 700;
    color: $color_text_desc;
    @include font-size-18-25();
  }
}

.margin-bottom-row {
  margin-bottom: 20px;
}

.custom-col-padding {
  padding: 0 20px;
}

.custom-col-course {
  border: 1px solid $color_border_row;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0;
  background-color: $white_color;
}

.border-col-course {
  border-color: $color_border_row;
  background-color: $white_color;
}

.border-transparent {
  border-color: transparent;
  background-color: transparent;
}

.tab-course {
  display: block;
  border-bottom: 2px solid #dadada;
  text-align: left;

  .tab-item {
    margin-right: 30px;
    margin-bottom: -1px;
    display: inline;

    .active {
      background: transparent;
      color: #b2d235;
      border-bottom: 2px solid #b2d235;
    }

    a {
      color: $color_footer;
      padding: 20px 0;
      font-weight: 700;
      display: inline-block;
      background: transparent;
      margin-right: 20px;
      text-transform: none;
      @include font-size-20-25();
    }
  }
}

.search-lesson {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color_border_row;

  .search {
    padding: 35px 0;
  }

  .input-group {
    flex: 1;
    @include font-size-16-20();
  }

  .get-this-course {
    flex: 1;

    a.link-course {
      padding: 10px 25px;
      margin-right: 20px;
      @include font-size-18-22();
    }
    
    .cancel {
      background-color: $red;
    }
  }
}

.view-all {
  a.link-course {
    font-weight: 700;
    padding: 10px 25px;
    margin: 20px 0;
    @include font-size-18-22();
  }
}

.list-lessons {
  .item-lesson {
    display: flex;
    padding: 20px 5px;
    font-weight: 700;
    color: $color_footer;
    border-bottom: 1px solid $color_line;
    @include font-size-18-22();

    .number {
      width: 5%;
    }

    .desc-lesson {
      width: 75%;
    }

    .link-lesson {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      i {
        color: darkcyan
      }
    }
  }

  .other-courses {
    @include font-size-16-20();

    .desc-lesson {
      width: 95%;
    }
  }
}

.link-lesson {
  a.link-course {
    padding: 6px 25px;
    font-weight: 700;
    @include font-size-15-18();
  }
}

.desc-lesson {
  a {
    color: $color_footer;

    &:hover {
      color: $warning_color;
    }
  }
}

.row-info {
  height: auto;

  .data-course {
    display: flex;
    padding: 40px 0;
    font-weight: 400;
    border-bottom: 1px solid $color_line;
    @include font-size-25-30;

    .icon {
      flex: 1;
    }

    .info-data {
      flex: 1;
      font-weight: 700;

      a {
        color: $color_footer;
      }
    }

    .color-tags {
      a {
        color: $color_tag;
      }
    }

    i {
      font-size: 30px;
    }
  }
}

.text-other-course {
  font-weight: 700;
  color: $white_color;
  background-color: $warning_color;
  margin: -10px -10px 0 -10px;
  padding: 20px 0;
  text-align: center;
  @include font-size-25-30();
}

.wrapp-content {
  display: block;
  width: 100%;
  background: $white_color;
  border: 1px solid $color_border_row;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.custom-font-bold {
  -webkit-text-stroke-width: 1px;
}

.main-teacher {
  .text-describe-course {
    border-bottom: 0;
    padding: 20px 0;
  }
}

.mentor {
  margin-bottom: 40px;

  .info {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin-top: 10px;
  }

  .avt {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .name {
    color: $color_footer;
    font-weight: 700;
    display: block;
    @include font-size-18-22();
  }

  .experience {
    color: $color_experience;
    font-weight: 400;
    display: block;
    @include font-size-14-17();
  }

  .google-plus {
    border: 1px solid $color_border_google;
  }

  .facebook {
    border: 1px solid $color_border_face;
  }

  .slack {
    border: 1px solid $color_border_slack;
  }

  .icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 10px 5px 0;
  }

  .detail {
    padding: 10px;
  }

  .describe-mentor {
    font-weight: 400;
  }
}
.rate-course {
  background-color: $color_footer;
  height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;

  .number-rate {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: $white_color;
  }
    
  .number-vote {
    color: $white_color;
    @include font-size-16-20();
  }
}

.rating {
  padding: 20px 0;
  border-bottom: 1px solid $color_border_rating;
  border-top: 1px solid $color_border_rating;
}

.rating-detail {
  height: 176px;
  border: 1px solid $color_border_row;
  border-radius: 5px;

  .item-rate {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 10px 0;

    .bar {
      width: 80%;
    }
    
    .number {
      width: 15%;
    }

    .vote-number {
      width: 5%;
      color: $color_vote_number;
    }
  }
}

.reviews {
  margin: 20px 0;
  border-bottom: 1px solid $color_border_rating;

  .avt {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%R;
    }
  }

  .star {
    margin: 0 15px;
  }

}

.leave-review {
  @include font-size-18-22();
}

.vote {
  float: left;
  height: 46px;
  padding: 0 10px;

  input[type='radio'] {
    display: none;
  }
}

.vote:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.vote:not(:checked) > label:before {
  content: "★ ";
}
.vote > input:checked ~ label {
  color: #ffc700;
}
.vote:not(:checked) > label:hover,
.vote:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.vote > input:checked + label:hover,
.vote > input:checked + label:hover ~ label,
.vote > input:checked ~ label:hover,
.vote > input:checked ~ label:hover ~ label,
.vote > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.message-add-review {
  @include font-size-18-22();
}

.add-review {
  @include font-size-25-30();
}

.btn-send,
.btn-cancel {
  border-radius: 35px;
  border: 0;
  outline: none;
  padding: 15px 15px;
}

.btn-send {
  color: $white_color;
  background-color: $warning_color;

  &:hover {
    color: black;
  }
}

.status {
  font-size: 12px;
  width: 70px;
  text-align: center;
  border-radius: 35px;
  background: red;
  overflow: hidden;
  height: 25px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: green;
  }
}

.tags-list {
  padding: 50px 0;
  @include font-size-20-25();

  .tag-item {
    padding: 5px 15px;
    background-color: $bg_allcourses;
    border: 1px solid #E4E4E4;
    margin: 0 5px;
    border-radius: 5px;
    color: $color_text_desc;
    @include font-size-14-17();
  }
}

.list-documents {
  .item-lesson {
    border: 0;
    
    .number {
      width: 15%;
    }
  }

  .item-documents {
    display: flex;
    align-items: center;
    border-top: 1px solid $color_line;
  }
}

.item-documents {
  .number {
    display: flex;
    width: 15%;
    align-items: center;
    color: $color_experience;
    @include font-size-14-17();
    
  }

  .desc-lesson {
    @include font-size-18-22();
  }
}

.progress{
  height: 1em;
  width: 35px;
}

.rating-detail .progress-bar {
  background-color: $warning_color;
}

.edit-comment-tool {
  padding: 2px 5px;
  margin: 10px 10px 10px 0;
  font-size: 17px;
  border-radius: 2px;
  cursor: pointer;
}

.edit-content {
  padding-bottom: 10px;
}
