.reset {
	background-color: white;
	font-family: $font_utm;

	.form-reset {
		display: flex;
    justify-content: center;

		.title {
			font-weight: 700;
			color: $warning_color;
			@include font-size-30-36();
		}

		.text {
			font-weight: bold;
			color: $color_footer;
			@include font-size-20-25();
		}

		.edit {
			width: 50%;
		}
	}
}

.padding-70 {
	padding: 70px 0;
}

.btn-reset {
	margin: 15px 0;
}
