// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$white_color: #ffffff;
$blue_color: #3f6185;
$blue_charcoal: #11114e;
$red_color: #dc594c;
$color_hover_gg: #cc3426;
$indigo_color: #556598;
$info_color: #24abe2;
$danger_color: #e14e40;
$primary_color: #1b75bb;
$warning_color: #b2d235;
$gray_color: #e5e5e5;
$color_text_box: #6a9967;
$color_box: #ccc;
$color_link_course: #6F8710;
$color_btn_slide: #969494;
$color_border: #e2e2e2;
$color_footer: #505353;
$color_end: #454545;
$color_google: #DC4E41;
$color_face_book: #3B5999;
$bg_mess: #F1F0F0;
$color_small_mess: #7F7F7F;
$color_btn: #3184F7;
$bg_allcourses: #F2F2F2;
$color_messenger: #2774DF;
$color_border_info_course: #f1f1f1;
$color_border_filter: #ced4da;
$color_shadow_custom: #9bc9fb;
$color_border_label_filter: #E5E6E7;
$color_star: #FFD567;
$color_text_desc: #949292;
$color_border_row: #D1D1D1;
$color_line: #E2E0E0;
$color_tag: #5D8BD0;
$color_experience: #BDB9B9;
$color_border_google: #F44336;
$color_border_face: #1976D2;
$color_border_slack: #E91E63;
$color_vote_number: #9BA1A1;
$color_border_rating: #F3F0F0;
$color_border_detail: #DCDCDC;
$color_icon_birthday: #F26525;
$color_icon_address: #662E93;
$color_profile_desc:  #787B7B;
$bg_modal: #1a344e;
$font_utm: "utm_bryantlgregular";
$font_san_serif: sans-serif;
$font_ui: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font_open_san: 'Open Sans', sans-serif;

@mixin text-banner-hapo {
  line-height: 60px;
  font-size: 50px;
}

@mixin style-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin font-size-25-30 {
  font-size: 25px;
  line-height: 30px;
}

@mixin font-size-20-25 {
  font-size: 20px;
  line-height: 25px;
}

@mixin font-size-18-25 {
  font-size: 18px;
  line-height: 25px;
}

@mixin font-size-18-22 {
  font-size: 18px;
  line-height: 22px;
}

@mixin font-size-16-20 {
  font-size: 16px;
  line-height: 20px;
}

@mixin font-size-15-18 {
  font-size: 15px;
  line-height: 18px;
}

@mixin font-size-14-17 {
  font-size: 14px;
  line-height: 18px;
}
